/* DIGITAL PAGE*/
html, body {
  height: auto;
  overflow-y: auto;  
  overflow-x: hidden;  
  scroll-behavior: smooth;
}


.digital-cards-section {
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  color: white;
  text-align: center;
  padding: 120px 40px 140px;
  min-height: auto;
}

.digital-title {
  font-size: 42px;
  color: #7fffd4;
  text-shadow: 0 0 15px #7fffd4, 0 0 30px #00ffc3;
  margin-bottom: 10px;
}

.digital-subtitle {
  font-size: 18px;
  color: #ddd;
  margin-bottom: 70px;
}

/* CARD */
.digital-card-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* CARD STYLE */
.digital-card {
  position: relative;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  width: 270px;
  padding: 140px 25px 50px; 
  text-align: center;
  transition: all 0.4s ease;
  overflow: visible;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.digital-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px #7fffd4;
}


.card-img {
  position: absolute;
  top: 20px; 
  left: 50%;
  transform: translateX(-50%);
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #7fffd4;
  box-shadow: 0 0 25px #00ffc3;
  background: #111;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  z-index: 2;
}

.digital-card:hover .card-img {
  transform: translateX(-50%) scale(1.15);
  box-shadow: 0 0 40px #00fff0;
}


.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.4s ease;
}


.digital-card:hover .card-img img {
  transform: scale(1.1);
}

.digital-card::before,
.digital-card::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 2px solid transparent;
  border-image: linear-gradient(45deg, #7fffd4, #ff7eb3);
  border-image-slice: 1;
  transition: all 0.3s ease;
}

.digital-card::before {
  top: 10px;
  left: 10px;
  border-top-color: #7fffd4;
  border-left-color: #ff7eb3;
}

.digital-card::after {
  bottom: 10px;
  right: 10px;
  border-bottom-color: #7fffd4;
  border-right-color: #ff7eb3;
}

.digital-card:hover::before,
.digital-card:hover::after {
  transform: scale(1.1);
  opacity: 0.8;
}


.digital-card h3 {
  margin-top: 90px; 
  color: #7fffd4;
  font-size: 22px;
  margin-bottom: 15px;
}

.digital-card p {
  color: #ddd;
  font-size: 15px;
  line-height: 1.6;
}



